.checkmark {
    width: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.error {
    color: red;
}

.disabled {
    text-decoration: none;
    color: currentColor;
    pointer-events: none;
}